<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
		<script src="../assets/js/ui.js"></script>
		<script src="../assets/js/calendar.js"></script>
		<script src="../assets/js/elasticsearch.js"></script>
		<link rel="stylesheet" href="../assets/css/cloudz.css">
</head>
<body>
<div class="wrapper">
	<header>
		<div class="inhead">
			<h1>
				<a href="/main"><span class="invisible">CLOUDZ CONSOLE</span></a>
			</h1>
		</div>
		<nav>
			<ul class="gnb">
				<li><a href="/monitoring"><span> 모니터링</span></a></li>
				<li><a href="/monitoring"><span>Snapshot</span></a></li>
				<li><a href="/icos"><span>ICOS</span></a></li>
				<li><a href="http://169.56.88.132:5601"><span> Kibana</span></a></li>
			</ul>
	  </nav>
	</header>
	<div class="container">
		<!-- <div class="utils">
    	<div class="reverse"></div>
    </div> -->
			<!-- <div class="locations-area">
				<div class="breadscrumb">
					<a href="모니터링">모니터링</a>
				</div>
			</div> -->
				<div class="contents">
					 <div class="inners">
						 <!-- <div class="top-area">
					<h2 class="title">모니터링</h2>
					<p>Snapshot 모니터링 페이지 입니다.</p>
				</div> -->
				<div class="tabs">
					<ul class="tabType1">
						<li style="width:20%;"><a href="#tabs1-1" class="tab-triggers active"><span>Snapshot 요청조회</span></a></li>
						<li style="width:20%;"><a href="#tabs1-2" class="tab-triggers"><span>Snapshot 처리조회</span></a></li>
					</ul>


					<div id="tabs1-1" class="tab-contents active">
						<form class="essearch" action="" method="post">
								<div class="center-align" style="position:absolute;">
								<td>
									<span class="datepicker">
										<input type="text" name="prdstartDate"  class="size-lg"  placeholder="YYYY-MM-DD" onclick="fnPopUpCalendar(prdstartDate,prdstartDate,'yyyy-mm-dd');" value="" style="width:200px;">
										<button type="button" class="btn bg-white ui-datepicker-trigger" onclick="fnPopUpCalendar(prdstartDate,prdstartDate,'yyyy-mm-dd');" value="">...</button>
									</span>
								</td>
								<td>
									<span class="datepicker" >
										<input type="text" name="fromDate"  class="size-lg"  placeholder="YYYY-MM-DD" onclick="fnPopUpCalendar(fromDate,fromDate,'yyyy-mm-dd');" value="" style="width:200px;">
										<button type="button" class="btn bg-white ui-datepicker-trigger" onclick="fnPopUpCalendar(fromDate,fromDate,'yyyy-mm-dd');" value="">...</button>
									</span>
								</td>

								</div>
								<div class="pull-right" style="position:absolute;left:95%;">
									<div class="reverse">
												<button type="summit" class="btn-search" id="prd_count_search" style="width: 60px;height: 60px;font-size: 40px;border:none;color: #fff;background-color: #ccc;"><i class="fa fa-search" style="vertical-align:text-top;"></i></button>
									</div>
								</div>
						</form>
						<div class="accordion">
							<div class="btn-block btn-icons-sm">
									<button type="button" data-toggle="collapse" class="btn bg-white"><span class="minus">plus</span></button>
									<span class="title">Snapshot 요청 성공/실패 Summary</span>
							</div>
							<div class="accordion-content">
								<table class="type-vertical">
												<colgroup>
													<col style="width:20%">
													<col style="width:20%">
													<col style="width:20%">
													<col style="width:20%">
													<col style="width:20%">
													<col style="width:20%">
											</colgroup>
											<thead>
													<tr>
															<th>요청 구분</th>
															<th>총 요청 건수</th>
															<th>총 요청 성공 건수</th>
															<th>성공 비율</th>
															<th>총 요청 실패 건수</th>
															<th>실패 비율</th>
													</tr>
												</thead>
												<tbody>
														<tr>
																	<td>생성 요청</td>
																	<td id="api_create_count"></td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
														</tr>
														<tr>
																	<td>조회 요청</td>
																	<td id="api_create_count"></td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
														</tr>
														<tr>
																	<td>삭제 요청</td>
																	<td id="api_create_count"></td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
														</tr>
												</tbody>
										</table>
										<br>
								</div>

						</div><!-- accordion -->


						<div class="accordion">
							<div class="btn-block btn-icons-sm">
									<button type="button" data-toggle="collapse" class="btn bg-white"><span class="minus">plus</span></button>
									<span class="title">Snapshot 요청 실패 Case</span>
							</div>
							<div class="accordion-content">
								<table class="type-vertical">
												<colgroup>
														<col style="width:30%">
														<col style="width:30%">
														<col style="width:30%">
												</colgroup>
												<thead>
														<tr>
																<th>검색 구분</th>
																<th>요청 실패구분</th>
																<th>건수</th>
														</tr>
												</thead>
												<tbody>
														<tr>
																	<td>생성 요청</td>
																	<td id="api_create_count">필수 값 누락</td>
																	<td> </td>
														</tr>
														<tr>
																<td>생성 요청</td>
																<td id="api_result_count">시스템 오류</td>
																<td> </td>
														</tr>
														<tr>
																<td>조회 요청</td>
																<td id="api_result_count">필수 값 누락</td>
																<td> </td>
														</tr>
														<tr>
																<td>조회 요청</td>
																<td id="api_result_count">시스템 오류</td>
																<td> </td>
														</tr>
														<tr>
																<td>삭제 요청</td>
																<td id="api_result_count">필수 값 누락</td>
																<td> </td>
														</tr>
														<tr>
																<td>삭제 요청</td>
																<td id="api_result_count">시스템 오류</td>
																<td> </td>
														</tr>
												</tbody>
										</table>
							</div>
						</div><!-- accordion -->


          </div>

					<div id="tabs1-2" class="tab-contents">

						<!--  accordion  -->
						<div class="accordion" style="">
							<div class="btn-block btn-icons-sm">
									<button type="button" data-toggle="collapse" class="btn bg-white"><span class="minus">plus</span></button>
									<span class="title">Snapshot 처리 성공/실패 건수</span>
							</div>
							<div class="accordion-content">
								<table class="type-vertical">
												<colgroup>
														<col style="width:30%">
														<col style="width:30%">
														<col style="width:30%">
												</colgroup>
												<thead>
														<tr>
																<th>처리 구분</th>
																<th>건수</th>
																<th>처리 실패 건수</th>
														</tr>
												</thead>
												<tbody>
														<tr>
																	<td>생성</td>
																	<td id="api_create_count"></td>
																	<td> </td>
																</td>
														</tr>
														<tr>
																<td>조회</td>
																<td id="api_result_count"></td>
																<td> </td>
															</td>
														</tr>
														<tr>
																<td>삭제</td>
																<td id="api_result_count"></td>
																<td> </td>
															</td>
														</tr>
												</tbody>
										</table>
								</div>
						</div><!-- accordion -->

						<div class="accordion">
							<div class="btn-block btn-icons-sm">
									<button type="button" data-toggle="collapse" class="btn bg-white"><span class="minus">plus</span></button>
									<span class="title">Snapshot 처리 실패 Case</span>
							</div>
							<div class="accordion-content">
								<table class="type-vertical">
												<colgroup>
														<col style="width:30%">
														<col style="width:30%">
														<col style="width:30%">
												</colgroup>
												<thead>
														<tr>
																<th>처리 구분</th>
																<th>처리 실패내용</th>
																<th>건수</th>
														</tr>
												</thead>
												<tbody style="">
														<tr>
																	<td>생성</td>
																	<td id="api_create_count" style="text-align: left;">유효하지 않은 페이지(DIV:ID:DetailWrapper) 미존재</td>
																	<td> </td>
														</tr>
														<tr>
																<td>생성</td>
																<td id="api_result_count" style="text-align: left;">유효하지 않은 페이지(폭 또는 길이가 0)</td>
																<td> </td>
														</tr>
														<tr>
																<td>생성</td>
																<td id="api_result_count" style="text-align: left;">시스템 오류</td>
																<td> </td>
														</tr>
														<tr>
																<td>생성</td>
																<td id="api_result_count" style="text-align: left;">페이지 로딩 타임 아웃</td>
																<td> </td>
														</tr>
														<tr>
																<td>생성</td>
																<td id="api_result_count" style="text-align: left;">백화현상</td>
																<td> </td>
														</tr>
												</tbody>
										</table>
							</div>
						</div><!-- accordion -->

						<div class="accordion">
							<div class="btn-block btn-icons-sm">
									<button type="button" data-toggle="collapse" class="btn bg-white"><span class="minus">plus</span></button>
									<span class="title">Snapshot 처리 성공/실패 Summary</span>
							</div>
							<div class="accordion-content">
								<table class="type-vertical">
												<colgroup>
														<col style="width:20%">
														<col style="width:20%">
														<col style="width:20%">
														<col style="width:20%">
														<col style="width:20%">
														<col style="width:20%">
												</colgroup>
												<thead>
														<tr>
																<th>처리 구분</th>
																<th>총 처리 건수</th>
																<th>총 처리 성공 건수</th>
																<th>성공 비율</th>
																<th>총 요청 실패 건수</th>
																<th>실패 비율</th>
														</tr>
												</thead>
												<tbody>
														<tr>
																	<td>생성</td>
																	<td id="api_create_count"></td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
														</tr>
														<tr>
																	<td>삭제</td>
																	<td id="api_create_count"></td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
																	<td> </td>
														</tr>
												</tbody>
										</table>
										<br>
								</div>
								<form class="essearch" action="" method="post">
										<div class="center-align">
										<td>
											<span class="datepicker">
												<input type="text" name="prdstartDate"  class="size-lg"  placeholder="YYYY-MM-DD" onclick="fnPopUpCalendar(prdstartDate,prdstartDate,'yyyy-mm-dd');" value="" style="width:200px;">
												<button type="button" class="btn bg-white ui-datepicker-trigger" onclick="fnPopUpCalendar(prdstartDate,prdstartDate,'yyyy-mm-dd');" value="">...</button>
											</span>
										</td>
										<td>
											<span class="datepicker" >
												<input type="text" name="fromDate"  class="size-lg"  placeholder="YYYY-MM-DD" onclick="fnPopUpCalendar(fromDate,fromDate,'yyyy-mm-dd');" value="" style="width:200px;">
												<button type="button" class="btn bg-white ui-datepicker-trigger" onclick="fnPopUpCalendar(fromDate,fromDate,'yyyy-mm-dd');" value="">...</button>
											</span>
										</td>

										</div>
										<div class="pull-right">
											<div class="reverse">
														<button type="summit" class="btn-search" id="prd_count_search" style="width: 60px;height: 60px;font-size: 40px;border:none;color: #fff;background-color: #ccc;"><i class="fa fa-search" style="vertical-align:text-top;"></i></button>
											</div>
										</div>
								</form>
						</div><!-- accordion -->
					</div>


	</div>

</div>
	<!-- /container -->
</div>
<!-- /contents -->
<!-- /wrapper -->
<!-- footer -->
<div class="footer">
	COPYRIGHTⓒ2018 BY SK HOLDINGS CO., LTD. ALL RIGHT RESERVED
</div>
<!-- /footer -->
<!-- script -->

<script type="text/javascript">


function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}



$(".accordion .btn-block > button[data-toggle='collapse']").on('click',function(e){
$(this).find('span').toggleClass('plus minus');

		var cont = $(this).parent().next();
		cont.slideToggle("300");
});





</script>
<!-- /script -->


</body>
</html>
