<div class="table-top-group">
    <div class="pull-left">
        <div class="select size-lg type-layer active" style="width:150px;"><!-- option 값의 최대 글자 수에 맞게 넓이 지정  -->
            <div class="trigger"><span>모든 서브넷</span><i class="fa fa-angle-down"></i></div>
            <div class="target" style="display:none;">
                <ul>
                    <li><label class="selected"><input type="radio" name="names" checked="checked">모든 서브넷</label></li>
                      <li><label><input type="radio" name="names">이동가능 서브넷</label></li>
                      <li><label><input type="radio" name="names">정적 서브넷</label></li>
                      <li><label><input type="radio" name="names">고객 서브넷</label></li>
                      <li><label><input type="radio" name="names">글로벌 서브넷</label></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pull-right"><span class="num">총 16개</span></div>
</div>
